<a href="https://colab.research.google.com/github/AnnaGAV12/BlockResults/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D1%87%D0%B8_1%2C_2%2C_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задача 1. map( )

У нас есть список чисел. Мы хотим получить новый список, в котором каждый элемент будет возводиться
в квадрат. Ниже показано решение задача через цикл, решите задачу с помощью функции map:

In [ ]:
numbers = [1, 2, 3, 4, 5]
new_numbers = []
for num in numbers:
  squared = num**2
  new_numbers.append(squared)

print(new_numbers)

[1, 4, 9, 16, 25]

In [1]:
#Ваше решение
numbers = [1, 2, 3, 4, 5]
new_numbers = list(map(lambda num: num**2, numbers))
print(new_numbers)

[1, 4, 9, 16, 25]

In [2]:
def square(num):
  return num**2

In [3]:
list(map(square, numbers))

[1, 4, 9, 16, 25]

Задача 2. reduce( )

У нас есть список чисел, и мы хотим получить их сумму.
Ниже показано решение задача через цикл, решите задачу с помощью функции reduce:

In [ ]:
numbers = [1, 2, 3, 4, 5]
result = 0
for num in numbers:
  result += num

print(result)

15

In [4]:
# Ваше решение
from functools import reduce
def add(x,y):
  return x+y

reduce(add, numbers)

15

In [5]:
reduce(lambda x,y: x+y, numbers)

15

Задача 3. filter( )

У нас есть список чисел и мы хотим получить только те, которые больше пяти. Ниже показано решение задача
через цикл, решите задачу с помощью функции filter:

In [7]:
numbers = [2, 7, 1, 8, 4, 5]
result = []
for num in numbers:
  if num > 5:
    result.append(num)

print(result)

[7, 8]

In [8]:
# ваше решение
def five(num):
  return num > 5

list(filter(five, numbers))

[7, 8]

In [9]:
list(filter(lambda num: num>5, numbers))

[7, 8]